.newStudent {
    height: 100vh;
    padding: 2vh 0;
}


.topbar {
    background-color: #66c2ff;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.topbar .arrowIcon {
    margin-left: 2%;
    cursor: pointer;
}

.topbar h2 {
    margin-left: 1%;
    cursor: pointer;
}

.form {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-top: 3vh;
    margin-bottom: 3vh;
}

.form > div {
    display: flex;
    margin-bottom: 2vh;
    width: 100%;
    justify-content: flex-start;
}

.firstContent {
    height: 12vh;
    align-items: center;
}

.img_container {
    height: 95%;
    flex: 0 0 40%;
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    
    padding: 0 5%;
}

.img_container img {
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
    height: 100%;
    color: green;
    font-size: 13px;
    text-align: center;
    line-height: 70px;
}

.img_container label {
    position: absolute;
    width: 80%;
    height: 90%;
    cursor: pointer;
}

.img_container p {
    position: absolute;
    top: 50%;
    left: 10%;
}


.otherContent {
    height: 7vh;
    align-items: flex-start;
}

.otherContent label, .genderContent label {
    flex: 0 0 40%;
}


.standard1 {
    height: 100%;
    flex: 0 0 60%;
}

.standard1 > input {
    height: 70%;
    width: 100%;
    border: 0.5px solid rgb(191, 191, 191);
    padding-left: 5px;

}

.standard2 {
    height: 70%;
    flex: 0 0 60%;
}

.standard2 input {
    border: 0.5px solid rgb(191, 191, 191);
    height: 50%;
    width: 100%;
}

.starndard2 p {
    margin: 0;
    width: 100%;
    flex: 0 0 40%;
}

.genderContent {
    height: 5vh;
    align-items: flex-start;
}

.gender {
    flex: 0 0 70%;
}

.gender > div {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.genderType {
    flex: 0 0 40%;
}

.gender input {
    margin-right: 5%;
    cursor: pointer;
}


.form >div.button_group {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin: 0;
}

.add_butt, .cancel_butt {
    width: 20%;
    height: 5vh;
    margin-left: 3%;
    color: white;
    cursor: pointer;
    border-radius: 2px;
    border: 1px solid grey;
    font-weight: bold;
    padding: 0;
}

.add_butt {
    background-color: #66c2ff;
    
}

.cancel_butt {
    background-color: white;
    color: grey;
   
    
}

.file {
    display: none;
}

.error {
    margin: 5px 0 0 0;
    text-align: left;
    color: red;
    font-style: italic;
    font-size: 13px;
}