.pages {
    width: 90%;
    flex: 0 0 10%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button {
    flex: 0 0 12%;
    height: 50%;
    cursor: pointer;
}


